[submodule "js.ext"]
	path = js.ext
	url = https://github.com/xizher/js.ext.git
[submodule "js.utils"]
	path = js.utils
	url = https://github.com/xizher/js.utils.git
[submodule "customevent"]
	path = customevent
	url = https://github.com/xizher/customevent.git
[submodule "datastructure"]
	path = datastructure
	url = https://github.com/xizher/datastructure.git
[submodule "customgisapi"]
	path = customgisapi
	url = https://github.com/xizher/customgisapi.git
