.application-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
}

.header {
  position: absolute;
  top: 0;
  right: 8px;
  z-index: 1;
  height: 80px;
  width: 441px;
  background-image: url(./images/header.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.map-view-container {
  height: 100vh;
  width: 100vw;
}

.mouse-location-info {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: white;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  background-color: #73A4A3;
}
