.application-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F9F8E4;
}

.content {
  margin-top: 125px;
  width: auto;
  height: calc(100% - 145px);
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 125px;
  background-image: url(./images/header-title-panel.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 99%;
}

.header .header-bar {
  position: absolute;
  top: 18px;
  width: calc(50% - 145px);
  height: 72px;
}

.header .header-bar::before {
  content: ' ';
  position: absolute;
  top: 0px;
  width: 72px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto 100%;
}

.header .header-left-bar {
  left: 85px;
  background: linear-gradient(-103deg, transparent 17px, #CB7954 0px) left top;
}

.header .header-left-bar::before {
  left: -70px;
  background-image: url(./images/header-panel-left.png);
}

.header .header-right-bar {
  right: 85px;
  background: linear-gradient(103deg, transparent 17px, #CB7954 0px) left top;
}

.header .header-right-bar::before {
  right: -70px;
  background-image: url(./images/header-panel-right.png);
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.side {
  position: relative;
  margin: 20px 0 20px 5px;
  height: calc(100% - 20px);
  width: 400px;
  border: #594D34 15px solid;
  border-radius: 12px;
}

.side .side-title {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 59px;
  max-width: 273px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(./images/side-panel-title.png);
}

.side .side-content {
  padding: 30px 8px 0 8px;
  height: 100%;
  overflow: auto;
}

.map-panel {
  position: absolute;
  margin: 25px;
  width: calc(100% - 45px);
  height: calc(100% - 30px);
}

.map-panel > :first-child {
  width: 100%;
  height: 100%;
}

.map-panel::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: #594D34 15px solid;
  border-radius: 12px;
  pointer-events: none;
}

.map-panel .map-bar {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  pointer-events: none;
}

.map-panel .map-bar * {
  pointer-events: auto;
}

.map-panel .map-top-left-bar {
  top: -15px;
  left: -17px;
  z-index: 2;
  width: 172px;
  height: 172px;
  background-image: url(./images/map-top-left-bar.png);
}

.map-panel .map-top-right-bar {
  top: -15px;
  right: -17px;
  width: 172px;
  height: 172px;
  z-index: 2;
  background-image: url(./images/map-top-right-bar.png);
}

.map-panel .map-bottom-right-bar {
  bottom: -23px;
  right: 23px;
  z-index: 2;
  width: 228px;
  height: 112px;
  background-image: url(./images/map-bottom-right-bar.png);
}

.map-panel .map-bottom-left-bar {
  bottom: 27px;
  left: -22px;
  z-index: 2;
  width: 400px;
  height: 62px;
  background-image: url(./images/map-bottom-left-bar.png);
}

.side-panel-switch {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  width: 35px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
}

.side-panel-switch__closed {
  background-image: url(./images/btn-open-side.png);
}

.side-panel-switch__opend {
  background-image: url(./images/btn-close-side.png);
}
