@import '../constant/_constant';
@import '../function/function';

.application-container {
  @include size-config(100vw, 100vh);
  overflow: hidden;
  background-color: $color-bg;
}

.content {
  margin-top: 125px;
  @include size-config(auto, calc(100% - 145px));
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  @include size-config(100%, 125px);
  background-image: url(./images/header-title-panel.png);
  @include background-config(no-repeat, center bottom, auto 99%);

  .header-bar {
    position: absolute;
    top: 18px;
    @include size-config(calc(50% - 145px), 72px);

    &::before {
      content: ' ';
      position: absolute;
      top: 0px;
      @include size-config(72px, 100%);
      @include background-config(no-repeat, left, auto 100%);
    }
  }

  .header-left-bar {
    left: 85px;
    background: linear-gradient(-103deg, transparent 17px, $color-red 0px) left top;

    &::before {
      left: -70px;
      background-image: url(./images/header-panel-left.png);
    }
  }

  .header-right-bar {
    right: 85px;
    background: linear-gradient(103deg, transparent 17px, $color-red 0px) left top;

    &::before {
      right: -70px;
      background-image: url(./images/header-panel-right.png);
    }
  }
}

.main {
  position: relative;
  flex: 1 1 auto;
}

.side {
  position: relative;
  margin: 20px 0 20px 5px;
  height: calc(100% - 20px);
  width: 400px;
  border: $color-dark 15px solid;
  border-radius: 12px;
  .side-title {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    @include size-config(80%, 59px);
    max-width: 273px;
    @include background-config(no-repeat, center, 100% 100%);
    background-image: url(./images/side-panel-title.png);
  }
  .side-content {
    padding: 30px 8px 0 8px;
    height: 100%;
    overflow: auto;
  }
}

.map-panel {
  position: absolute;
  margin: 25px;
  @include size-config(calc(100% - 45px), calc(100% - 30px));

  >:first-child {
    @include size-config(100%, 100%);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    @include size-config(calc(100% + 10px), calc(100% + 10px));
    border: $color-dark 15px solid;
    border-radius: 12px;
    pointer-events: none;
  }
  
  .map-bar {
    position: absolute;
    @include background-config(no-repeat, center, 100% 100%);
    pointer-events: none;
    > * {
      pointer-events: auto;
    }
  }

  .map-top-left-bar {
    top: -15px;
    left: -17px;
    z-index: 2;
    @include size-config(172px, 172px);
    background-image: url(./images/map-top-left-bar.png);
  }

  .map-top-right-bar {
    top: -15px;
    right: -17px;
    @include size-config(172px, 172px);
    z-index: 2;
    background-image: url(./images/map-top-right-bar.png);
  }

  .map-bottom-right-bar {
    bottom: -23px;
    right: 23px;
    z-index: 2;
    @include size-config(228px, 112px);
    background-image: url(./images/map-bottom-right-bar.png);
  }

  .map-bottom-left-bar {
    bottom: 27px;
    left: -22px;
    z-index: 2;
    @include size-config(400px, 62px);
    background-image: url(./images/map-bottom-left-bar.png);
  }
}

.side-panel-switch {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  @include size-config(35px, 70px);
  @include background-config(no-repeat, center, 100% 100%);
  cursor: pointer;
}

.side-panel-switch__closed {
  background-image: url(./images/btn-open-side.png);
}

.side-panel-switch__opend {
  background-image: url(./images/btn-close-side.png);
}
