@import '../constant/_constant';

body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}


/*去除mapview拖动时的边框*/
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: auto 0px Highlight !important;
  outline: auto 0px -webkit-focus-ring-color !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background-color: $color-deep-green;
  color: white;
}
.ant-select-arrow {
  color: white;
}

.ant-select-dropdown {
  background-color: $color-green;
}

.ant-select-item {
  color: white;
}

.ant-select-item-option-active {
  color: $color-dark;
}